$font-size-base: 16px;
$line-height-base: 1.5;

@import "bootstrap";

//body {
//  padding-top: 60px;
//  position: relative;
//}

.label {
  padding: .2em .6em .2em;
}

.steps {
  font-size: 16px;
  dt {
    float: left;
    clear: left;
    padding-right: 6px;
    width: 70px;
    text-align: right;
  }

  dd {
    display: block;
  }
}

/* sidebar */
.side-nav {
}

/* all links */
.side-nav .nav>li>a {
    padding: 4px 20px;
    font-size: 16px;
    font-weight: 400;
}

/* nested links */
.side-nav .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 14px;
}

/* nested links */
.side-nav .nav .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 35px;
    font-size: 12px;
}

.side-nav .nav>li>a {
    border-radius: 0;
    /*add trasnparent border */
    border-left: 2px solid transparent;
}
/* active & hover links */
.side-nav .nav>.active>a, 
.side-nav .nav>li>a:hover, 
.side-nav .nav>li>a:focus {
    color: #428bca;
    text-decoration: none;
    background-color: transparent;
    border-left: 2px solid #428bca;
}

/* all active links */
.side-nav .nav>.active>a, 
.side-nav .nav>.active:hover>a,
.side-nav .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.side-nav .nav .nav>.active>a, 
.side-nav .nav .nav>.active:hover>a,
.side-nav .nav .nav>.active:focus>a {
    font-weight: 500;
}

.side-nav .affix-bottom,
.side-nav .affix {
  @media (min-width: 768px) {
    width: 258px;
    top: 10px;
  }
}

.side-nav .affix-top,
.side-nav .affix-bottom {
  @media (min-width: 768px) {
    position: relative;
  }
}

.inline,
.inline p:first-child {
  display: inline;
}

.tag-content .table {
  .name {
    width: 80px;
  }
  .type {
    width: 240px;
  }
}

dl.notes {
  margin-bottom: 10px;

  dt {
    width: 81px;
  }

  dd {
    margin-left: 86px;
  }
}

footer {
  font-size: 12px;
  text-align: center;
}

.anchor {
  display: none;
}

@media (min-width: 768px) {
  pre code {
    overflow: auto;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: pre;
  }

  .method-header,
  .constant-header {
    .anchor {
      color: #000000;
      display: inline-block;
      visibility: hidden;
      float: left;
      margin-left: -45px;
      padding-right: 15px;
    }

    &:hover {
      .anchor {
        visibility: visible;
      }
    }
  }

  h1, .h1 {
    .anchor {
      margin-left: floor(($font-size-h1 * -1.2));
      padding-right: ceil(($font-size-h1 * 0.2));
    }
  }
  h2, .h2 {
    .anchor {
      margin-left: floor(($font-size-h2 * -1.2));
      padding-right: ceil(($font-size-h2 * 0.2));
    }
  }
  h3, .h3 {
    .anchor {
      margin-left: floor(($font-size-h3 * -1.2));
      padding-right: ceil(($font-size-h3 * 0.2));
    }
  }
  h4, .h4 {
    .anchor {
      margin-left: floor(($font-size-h4 * -1.2));
      padding-right: ceil(($font-size-h4 * 0.2));
    }
  }
  h5, .h5 {
    .anchor {
      margin-left: floor(($font-size-h5 * -1.2));
      padding-right: ceil(($font-size-h5 * 0.2));
    }
  }
  h6, .h6 {
    .anchor {
      margin-left: floor(($font-size-h6 * -1.2));
      padding-right: ceil(($font-size-h6 * 0.2));
    }
  }

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    .anchor {
      float: left;
      color: #000000;
      display: inline-block;
      visibility: hidden;
    }

    &:hover {
      .anchor {
        visibility: visible;
      }
    }
  }
}

/*
 * ZeroClipboard styles
 */

.zero-clipboard {
  position: relative;
  display: none;
}
.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #002b36;
  cursor: pointer;
  background-color: #fdf6e3;
  border: 1px solid #cccccc;
  border-radius: 0 4px 0 4px;
}
.btn-clipboard-hover {
  color: #fdf6e3;
  background-color: #073642;
  border-color: #002b36;
}

@media (min-width: 768px) {
  .zero-clipboard {
    display: block;
  }
  .bs-example + .zero-clipboard .btn-clipboard {
    top: -16px;
    border-top-right-radius: 0;
  }
}
