/coverage
/benchmark
/tmp
/doc
/pkg
/.yardoc
/TODO.md
/.ruby-version
/.ruby-gemset
/.rvmrc
/docs
/.sass-cache
/venv
/lib/cassandra_murmur3.*
/lib/cql_scanner.*
/ext/cql_scanner/cql_scanner.c
/ext/cql_scanner/CqlScannerService.java
