language: ruby
script: bundle exec rake rspec
bundler_args: --without development docs
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.7
  - 2.2.3
  - jruby
  - rbx
env:
  global:
    - FAIL_FAST=no
    - COVERAGE=no
matrix:
  allow_failures:
    - rvm: rbx-2
  fast_finish: true
branches:
  only:
    - master
before_install: |
  gem list bundler
  gem cleanup bundler
  if [[ k$TRAVIS_RUBY_VERSION = kjruby ]] ; then
    gem uninstall -i /home/travis/.rvm/gems/jruby-src-1.7.19@global bundler
  fi
  if [[ k$TRAVIS_RUBY_VERSION = kjruby ]] || [[ k$TRAVIS_RUBY_VERSION = krbx* ]] ; then
    gem install bundler -v 1.7.12
  else
    gem install bundler -v 1.11.2
  fi
  type bundle
  bundle --version