<% if object.has_tag?(:example) %>
  <dt class="tag_title">Examples:</dt>
  <dd class="tag_content">
  <% object.tags(:example).each do |tag| %>
    <% unless tag.name.empty? %>
    <h5 class="example_title"><%= htmlify_line(tag.name) %></h5>
    <% end %>
    <p><%= html_syntax_highlight(tag.text) %></p>
  <% end %>
  </dd>
<% end %>