<% if object.has_tag?(:overload) && object.tags(:overload).any? {|o| !o.docstring.blank? } %>
  <dt class="tag-title">Overloads:</dt>
  <dd class="tag-content">
    <% object.tags(:overload).each do |overload| %>
      <% next if overload.docstring.blank? %>
      <div class="panel panel-default">
        <div class="panel-heading overload-header">
          <% if overload.scope == :class %><em>self.</em><% end %><span class="path"><strong><%= overload.is_attribute? ? overload.name.to_s.sub(/=$/, '') : overload.name %></strong></span><% if overload.is_attribute? %>
          <% rw = overload.attr_info %>
          <% if rw && rw[:read] && !rw[:write] %><span class="label label-default">readonly</span>
          <% elsif rw && !rw[:read] && rw[:write] %><span class="label label-default">writeonly</span>
          <% end %>
          <% else %><%= format_args(overload) %> <%= format_block(overload) %><% end %>
        </div>
        <div class="panel-body overload-body">
          <%= yieldall :object => overload %>
        </div>
      </div>
    <% end %>
  </dd>
<% end %>