<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="A pure Ruby client for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>Ruby Driver for Apache Cassandra - Execution information</title>

    <link rel="icon" href="../../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../../favicon.png">
    <link href="../../../../css/style.css" rel="stylesheet">
    <link href="../../../../css/pygments.css" rel="stylesheet">
    <link href="../../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs">
    <div class="navbar">
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
          <div class="col-sm-3 text-center">
            <a class="ds-home" href="../../../"><img alt="Brand" src="../../../../img/logo.png"></a>
            <ul class="list-inline ds-sites" role="nav">
              <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
              <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
              <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
            </ul>
          </div>
          <div class="col-md-5">
            <p class="lead pubtitle">Ruby Driver for Apache Cassandra</p>
            
            <div class="text-info">
              <span class="text-warning">Attention:</span> Viewing documentation for version
              <div class="btn-group">
                <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  2.0
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                
                  <li><a href="../../../../features/debugging/execution_info/">3.2</a></li>
                
                  <li><a href="../../../../3.1/features/debugging/execution_info/">3.1</a></li>
                
                  <li><a href="../../../../3.0/features/debugging/execution_info/">3.0</a></li>
                
                  <li><a href="../../../../2.1/features/debugging/execution_info/">2.1</a></li>
                
                  <li class="disabled"><a href="./">2.0</a></li>
                
                  <li><a href="../../../../1.2/features/debugging/execution_info/">1.2</a></li>
                
                  <li><a href="../../../../1.1/features/debugging/execution_info/">1.1</a></li>
                
                  <li><a href="../../../../1.0/features/debugging/execution_info/">1.0</a></li>
                
                </ul>
              </div>
              <span class="red">
              
              (Earlier version)
              
              </span>
            </div>
            
          </div>
          <div class="col-md-4">
            <form id="search" class="form-search dropdown visible-lg-inline-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
              <div class="form-group has-feedback">
                <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('2.0')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
              </div>
              <ul class="dropdown-menu search-results" role="menu">
                <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
              </ul>
            </form>
            <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3><a href="../../../">Contents</a></h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  <li class="active">
    <a href="../../">
      Usage <small>page</small>
      
      
      <span class="glyphicon glyphicon-minus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
  
  <li>
    <a href="../../basics/">
      Basics <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../asynchronous_io/">
      Asynchronous IO <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../security/">
      Security <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li class="active">
    <a href="../">
      Debugging <small>page</small>
      
      
      <span class="glyphicon glyphicon-minus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
  
  <li class="active">
    <a href="./" class="current">
      Execution information <small>feature</small>
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
</ul>

  </li>
  
  
  <li>
    <a href="../request_tracing/">
      Request tracing <small>feature</small>
      
    </a>
    
  </li>
  
</ul>

  </li>
  
  
  <li>
    <a href="../../load_balancing/">
      Load Balancing <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../retry_policies/">
      Retry Policies <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../state_listeners/">
      State Listeners <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../address_resolution/">
      Address resolution <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../error_handling/">
      Error Handling <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../reconnection/">
      Reconnection <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
</ul>

  </li>
  
  
  <li>
    <a href="../../../api/">
      API docs <small>index</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          <div class="crumbs-wrapper">
            <nav id="crumbs" data-spy="affix" data-offset-top="130">
              <ol class="breadcrumb">
                
                
                
                <li><a href="../../../">Home</a></li>
                
                
                
                
                
                <li><a href="../../">Usage</a></li>
                
                
                
                
                
                <li><a href="../">Debugging</a></li>
                
                
                
                
                
                <li class="active">Execution information</li>
                
                
                
              </ol>
            </nav>
          </div>
          
<div class="feature-section">
<h1 id="execution-information" class="target">Execution information<a class="anchor" href="#execution-information" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>
<p>Every result contains <a href="../../../api/cassandra/execution/info/">useful execution information</a>.</p>
<h2 id="background" class="target">Background<a class="anchor" href="#background" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>a running cassandra cluster with schema:<pre class="highlight"><code class="cql"><span class="k">CREATE</span> <span class="k">KEYSPACE</span> <span class="n">simplex</span> <span class="k">WITH</span> <span class="n">replication</span> <span class="o">=</span> <span class="p">{</span><span class="s1">'class'</span><span class="p">:</span> <span class="s1">'SimpleStrategy'</span><span class="p">,</span> <span class="s1">'replication_factor'</span><span class="p">:</span> <span class="mi">3</span><span class="p">};</span>
<span class="k">USE</span> <span class="n">simplex</span><span class="p">;</span>
<span class="k">CREATE</span> <span class="k">TABLE</span> <span class="n">songs</span> <span class="p">(</span>
  <span class="n">id</span> <span class="k">uuid</span> <span class="k">PRIMARY</span> <span class="k">KEY</span><span class="p">,</span>
  <span class="n">title</span> <span class="k">text</span><span class="p">,</span>
  <span class="n">album</span> <span class="k">text</span><span class="p">,</span>
  <span class="n">artist</span> <span class="k">text</span><span class="p">,</span>
  <span class="n">tags</span> <span class="k">set</span><span class="o">&lt;</span><span class="k">text</span><span class="o">&gt;</span><span class="p">,</span>
  <span class="n">data</span> <span class="k">blob</span>
<span class="p">);</span>
<span class="k">INSERT</span> <span class="k">INTO</span> <span class="n">songs</span> <span class="p">(</span><span class="n">id</span><span class="p">,</span> <span class="n">title</span><span class="p">,</span> <span class="n">album</span><span class="p">,</span> <span class="n">artist</span><span class="p">,</span> <span class="n">tags</span><span class="p">)</span>
<span class="k">VALUES</span> <span class="p">(</span>
   <span class="mi">756716f7-2e54-4715-9f00-91dcbea6cf50</span><span class="p">,</span>
   <span class="s1">'La Petite Tonkinoise'</span><span class="p">,</span>
   <span class="s1">'Bye Bye Blackbird'</span><span class="p">,</span>
   <span class="s1">'Joséphine Baker'</span><span class="p">,</span>
   <span class="p">{</span><span class="s1">'jazz'</span><span class="p">,</span> <span class="s1">'2013'</span><span class="p">})</span>
<span class="p">;</span>
<span class="k">INSERT</span> <span class="k">INTO</span> <span class="n">songs</span> <span class="p">(</span><span class="n">id</span><span class="p">,</span> <span class="n">title</span><span class="p">,</span> <span class="n">album</span><span class="p">,</span> <span class="n">artist</span><span class="p">,</span> <span class="n">tags</span><span class="p">)</span>
<span class="k">VALUES</span> <span class="p">(</span>
   <span class="mi">f6071e72-48ec-4fcb-bf3e-379c8a696488</span><span class="p">,</span>
   <span class="s1">'Die Mösch'</span><span class="p">,</span>
   <span class="s1">'In Gold'</span><span class="p">,</span>
   <span class="s1">'Willi Ostermann'</span><span class="p">,</span>
   <span class="p">{</span><span class="s1">'kölsch'</span><span class="p">,</span> <span class="s1">'1996'</span><span class="p">,</span> <span class="s1">'birds'</span><span class="p">}</span>
<span class="p">);</span>
<span class="k">INSERT</span> <span class="k">INTO</span> <span class="n">songs</span> <span class="p">(</span><span class="n">id</span><span class="p">,</span> <span class="n">title</span><span class="p">,</span> <span class="n">album</span><span class="p">,</span> <span class="n">artist</span><span class="p">,</span> <span class="n">tags</span><span class="p">)</span>
<span class="k">VALUES</span> <span class="p">(</span>
   <span class="mi">fbdf82ed-0063-4796-9c7c-a3d4f47b4b25</span><span class="p">,</span>
   <span class="s1">'Memo From Turner'</span><span class="p">,</span>
   <span class="s1">'Performance'</span><span class="p">,</span>
   <span class="s1">'Mick Jager'</span><span class="p">,</span>
   <span class="p">{</span><span class="s1">'soundtrack'</span><span class="p">,</span> <span class="s1">'1991'</span><span class="p">}</span>
<span class="p">);</span>
</code></pre>
</dd>
</dl>
<h2 id="execution-information-is-accessible-from-execution-result" class="target">execution information is accessible from execution result<a class="anchor" href="#execution-information-is-accessible-from-execution-result" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>the following example:<pre class="highlight"><code class="ruby"><span class="nb">require</span> <span class="s1">'cassandra'</span>

<span class="n">cluster</span>   <span class="o">=</span> <span class="no">Cassandra</span><span class="p">.</span><span class="nf">cluster</span>
<span class="n">session</span>   <span class="o">=</span> <span class="n">cluster</span><span class="p">.</span><span class="nf">connect</span><span class="p">(</span><span class="s2">"simplex"</span><span class="p">)</span>
<span class="n">execution</span> <span class="o">=</span> <span class="n">session</span><span class="p">.</span><span class="nf">execute</span><span class="p">(</span><span class="s2">"SELECT * FROM songs"</span><span class="p">,</span> <span class="ss">consistency: :one</span><span class="p">).</span><span class="nf">execution_info</span>

<span class="nb">puts</span> <span class="s2">"coordinator: </span><span class="si">#{</span><span class="n">execution</span><span class="p">.</span><span class="nf">hosts</span><span class="p">.</span><span class="nf">last</span><span class="p">.</span><span class="nf">ip</span><span class="si">}</span><span class="s2">"</span>
<span class="nb">puts</span> <span class="s2">"keyspace: </span><span class="si">#{</span><span class="n">execution</span><span class="p">.</span><span class="nf">keyspace</span><span class="si">}</span><span class="s2">"</span>
<span class="nb">puts</span> <span class="s2">"cql: </span><span class="si">#{</span><span class="n">execution</span><span class="p">.</span><span class="nf">statement</span><span class="p">.</span><span class="nf">cql</span><span class="si">}</span><span class="s2">"</span>
<span class="nb">puts</span> <span class="s2">"requested consistency: </span><span class="si">#{</span><span class="n">execution</span><span class="p">.</span><span class="nf">options</span><span class="p">.</span><span class="nf">consistency</span><span class="si">}</span><span class="s2">"</span>
<span class="nb">puts</span> <span class="s2">"actual consistency: </span><span class="si">#{</span><span class="n">execution</span><span class="p">.</span><span class="nf">consistency</span><span class="si">}</span><span class="s2">"</span>
<span class="nb">puts</span> <span class="s2">"number of retries: </span><span class="si">#{</span><span class="n">execution</span><span class="p">.</span><span class="nf">retries</span><span class="si">}</span><span class="s2">"</span>
</code></pre>
</dd>
<dt>When </dt>
<dd>it is executed</dd>
<dt>Then </dt>
<dd>its output should match:<pre><code>coordinator: 127\.0\.0\.(1|2|3)
</code></pre>
</dd>
<dt>And </dt>
<dd>its output should contain:<pre><code>keyspace: simplex
cql: SELECT * FROM songs
requested consistency: one
actual consistency: one
number of retries: 0
</code></pre>
</dd>
</dl>
<h2 id="execution-information-reflects-retry-decision" class="target">execution information reflects retry decision<a class="anchor" href="#execution-information-reflects-retry-decision" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<dl class="steps">
<dt>Given </dt>
<dd>a file named &#8220;retrying_at_a_given_consistency_policy.rb&#8221; with:<pre class="highlight"><code class="ruby"><span class="k">class</span> <span class="nc">RetryingAtAGivenConsistencyPolicy</span>
  <span class="kp">include</span> <span class="no">Cassandra</span><span class="o">::</span><span class="no">Retry</span><span class="o">::</span><span class="no">Policy</span>

  <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">consistency_to_use</span><span class="p">)</span>
    <span class="vi">@consistency_to_use</span> <span class="o">=</span> <span class="n">consistency_to_use</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">read_timeout</span><span class="p">(</span><span class="n">statement</span><span class="p">,</span> <span class="n">consistency_level</span><span class="p">,</span> <span class="n">required_responses</span><span class="p">,</span>
                   <span class="n">received_responses</span><span class="p">,</span> <span class="n">data_retrieved</span><span class="p">,</span> <span class="n">retries</span><span class="p">)</span>
    <span class="n">try_again</span><span class="p">(</span><span class="vi">@consistency_to_use</span><span class="p">)</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">write_timeout</span><span class="p">(</span><span class="n">statement</span><span class="p">,</span> <span class="n">consistency_level</span><span class="p">,</span> <span class="n">write_type</span><span class="p">,</span>
                    <span class="n">acks_required</span><span class="p">,</span> <span class="n">acks_received</span><span class="p">,</span> <span class="n">retries</span><span class="p">)</span>
    <span class="n">try_again</span><span class="p">(</span><span class="vi">@consistency_to_use</span><span class="p">)</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">unavailable</span><span class="p">(</span><span class="n">statement</span><span class="p">,</span> <span class="n">consistency_level</span><span class="p">,</span> <span class="n">replicas_required</span><span class="p">,</span>
                  <span class="n">replicas_alive</span><span class="p">,</span> <span class="n">retries</span><span class="p">)</span>
    <span class="n">try_again</span><span class="p">(</span><span class="vi">@consistency_to_use</span><span class="p">)</span>
  <span class="k">end</span>
<span class="k">end</span>
</code></pre>
</dd>
<dt>And </dt>
<dd>the following example:<pre class="highlight"><code class="ruby"><span class="nb">require</span> <span class="s1">'cassandra'</span>
<span class="nb">require</span> <span class="s1">'retrying_at_a_given_consistency_policy'</span>

<span class="n">cluster</span>   <span class="o">=</span> <span class="no">Cassandra</span><span class="p">.</span><span class="nf">cluster</span><span class="p">(</span><span class="ss">retry_policy: </span><span class="no">RetryingAtAGivenConsistencyPolicy</span><span class="p">.</span><span class="nf">new</span><span class="p">(</span><span class="ss">:one</span><span class="p">))</span>
<span class="n">session</span>   <span class="o">=</span> <span class="n">cluster</span><span class="p">.</span><span class="nf">connect</span><span class="p">(</span><span class="s2">"simplex"</span><span class="p">)</span>
<span class="n">execution</span> <span class="o">=</span> <span class="n">session</span><span class="p">.</span><span class="nf">execute</span><span class="p">(</span><span class="s2">"SELECT * FROM songs"</span><span class="p">,</span> <span class="ss">consistency: :all</span><span class="p">).</span><span class="nf">execution_info</span>

<span class="nb">puts</span> <span class="s2">"requested consistency: </span><span class="si">#{</span><span class="n">execution</span><span class="p">.</span><span class="nf">options</span><span class="p">.</span><span class="nf">consistency</span><span class="si">}</span><span class="s2">"</span>
<span class="nb">puts</span> <span class="s2">"actual consistency: </span><span class="si">#{</span><span class="n">execution</span><span class="p">.</span><span class="nf">consistency</span><span class="si">}</span><span class="s2">"</span>
<span class="nb">puts</span> <span class="s2">"number of retries: </span><span class="si">#{</span><span class="n">execution</span><span class="p">.</span><span class="nf">retries</span><span class="si">}</span><span class="s2">"</span>
</code></pre>
</dd>
<dt>When </dt>
<dd>node 3 stops</dd>
<dt>And </dt>
<dd>it is executed</dd>
<dt>Then </dt>
<dd>its output should contain:<pre><code>requested consistency: all
actual consistency: one
number of retries: 1
</code></pre>
</dd>
</dl>
</div>

        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="https://github.com/datastax/ruby-driver/">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://docs.datastax.com/en/developer/ruby-driver/">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/RUBY/">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/ruby-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/ruby-driver/releases">Releases</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../../../../js/jquery.js"></script>
    <script src="../../../../js/bootstrap.js"></script>
    <script src="../../../../js/angular.js"></script>
    <script src="../../../../js/mousetrap.js"></script>
    <script src="../../../../js/hotkeys.js"></script>
    <script src="../../../../js/ZeroClipboard.js"></script>
    <script src="../../../../js/lunr.js"></script>
    <script src="../../../../js/app.js"></script>
  </body>
</html>
