<% @inner.each do |name, list| %>
<% next if list.empty? %>
<h2><%= name.to_s.capitalize %></h2>
<div class="child-<%= name %>">
  <ul class="list-inline">
    <% list.each do |child| %>
    <li><%= linkify(child, child.name(true)) %></li>
    <% end %>
  </ul>
</div>
<% end %>
