<h2>Constants</h2>
<div class="module-constants">
<% @constants.each do |const| %>
  <div class="panel panel-default" id="<%= anchor_for(const) %>">
    <div class="panel-heading constant-header">
      <var><%= const.name %></var>
    </div>
    <div class="panel-body constant-body">
      <%= format_constant(const.value) %>
      <%= yieldall %>
    </div>
  </div>
<% end %>
</div>
