<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Datastax Cassandra Ruby Driver Documentation">
    <meta name="author" content="">

    <title>Datastax Cassandra Ruby Driver<%= " - #{@item[:title]}" if @item[:title] %></title>

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/pygments.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".toc" data-offset="0">
    <header class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Cassandra Ruby Driver</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Introduction</a></li>
            <li><a href="/features/">Features</a></li>
            <li class="active"><a href="/api/">API docs</a></li>
          </ul>
        </div>
      </div>
    </header>

    <div class="container" id="content">
      <div class="row">
        <div class="col-md-9 content">
          <nav class="crumbs">
            <ol class="breadcrumb">
              <% breadcrumbs_trail.each do |item| %>
              <% if item %>
              <% if item == @item %>
              <li class="active"><%= @item[:title] %></li>
              <% else %>
              <li><a href="<%= item.path %>"><%= item[:title] %></a></li>
              <% end %>
              <% end %>
              <% end %>
            </ol>
          </nav>
          <%= yield %>
        </div>
        <nav class="col-md-3 side-nav">
          <ol class="nav nav-pills nav-stacked toc" data-spy="affix" data-offset-top="60" data-offset-bottom="20">
            <%= render 'side-nav', :items => @items.at('/api/cassandra/')[:nav] %>
          </ol>
        </nav>
      </div>
    </div>

    <footer class="container text-muted">
      <ul class="list-inline">
        <li>v<%= Cassandra::VERSION %></li>
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/ruby-driver">Code</a>
        </li>
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/ruby-driver/">Docs</a>
        </li>
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/RUBY">Issues</a>
        </li>
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/ruby-driver-user">Mailing List</a>
        </li>
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/ruby-driver/releases">Releases</a>
        </li>
      </ul>
    </footer>
    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54260831-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>